---
const { id, class: className, contain = true } = Astro.props;
---

<section id={id} class={className}>
	<div class={`${contain ? "container py-16 lg:pt-16 lg:pb-32" : ""}`}>
		<slot />
	</div>
</section>
