---
---

<div class="h-9-block w-7-block p-1 book aspect-square max-w-xl mx-auto" style="align-content: center;">
<form action="#">
    <div class="flex flex-col gap-8 mx-auto max-w-md">
        <div>
            <label for="name">Name</label>
            <div class="mt-2">
                <input class="w-full" type="text" name="name" id="name" required />
            </div>
        </div>

        <div>
            <label for="email">Email</label>
            <div class="mt-2 grid grid-cols-1">
                <input class="w-full" type="email" name="email" id="email" placeholder="you@example.com" required />
            </div>
        </div>

        <div>
            <label for="message">Message</label>
            <div class="mt-2">
                <textarea class="w-full" name="message" id="message" rows="4" required></textarea>
            </div>
        </div>

        <div>
            <button style="background-image: url(/imgs/ui/button-inside.png);" type="submit" class="button button-green group !px-8">
                Send
            </button>
        </div>
    </div>
</form>
</div>